<% provide(:title, "ログイン") %>

<p align= "center" id="siuptext1">Vmishにログイン</p>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<%= form_for(:session, url:login_path, builder:CustomFormHelper) do |f| %>

  <%= f.label :email, "メールアドレス" %>
  <%= f.email_field :email, placeholder:'例) example@vmish.com', class: 'form-controll1' %>
  <ul class="errors"></ul>

  <%= f.label :password ,"パスワード"%>
  <%= f.password_field :password, placeholder:'例) 6文字以上の半角英数', class: 'form-controll1' %>
  <ul class="errors"></ul>
  <%= link_to "パスワードを忘れた場合はこちら", new_password_reset_path%>

  <%= f.submit "Vmixshにログイン", class: "btn btn-primary mx-auto d-block", id:"btn-custom"  %>

<% end %>

<p>Vmixshのアカウントを持っていない方は <%= link_to "新規登録", signup_path %>から</p>
