<div class="mt-4 ranking-group is-show">
  <%= select_tag "sort_order", options_for_select({新着順: "new", 人気順: "popular"}), class:"sort_order"%>
  <% unless @items.blank?%>
    <% @items.each do |item|%>
      <section class="item-line">
        <div class="item-box-link p-3">
          <%= link_to '', item_path(id:item.id), class:'item-path'%>
          <div>
            <h5 class="item-title"><%= item.title%></h5>
            <p class="mb-3 text-samll"><%= item.content[0,60]%><%= "..." if item.content.length >= 60%></p>
          </div>
          <div class="item-footer">
            <span class="mr-1">by </span><%= link_to item.user.name, item.user, class:'item-user pr-2'%>
            <span><%= time_ago_in_words(item.created_at)%>前</span>
          </div>
        </div>
      </section>
    <% end%>
    <%= paginate @items %>
  <% else %>
    <p align="center" class="mt-3">見つかりませんでした。キーワードを変えてみてください</p>
  <% end%>
</div>