<% provide(:title, "アカウント設定") %>

<div class="row justify-content-center" id="form-font-size">
  <div class="col-md-5 mx-5 pt-5 pb-4" id="form-border">
    <p align="center"id="password_reset_text">アカウントの設定</p>
    <%= form_for(@user, builder: CustomFormHelper::FormErrorMessageBuilder) do |f| %>
      <% render 'shared/error_messages'%>

      <%= f.label :name, "ユーザ名" %>
      <%= f.text_field :name, placeholder:'例) 半角英のみ -> 〇Vmish_user ×ブイミッシュユーザー ', class: 'form-controll1' %>

      <%= f.label :email,"メールアドレス" %>
      <%= f.email_field :email, placeholder:'例) example@vmish.com', class: 'form-controll1' %>

      <%= f.label :content,"自己紹介文" %>
      <%= f.text_area :content, placeholder:'255文字まで',class:'form-controll1', id:'countdown', rows:8%>
      <span id="countdown-number" class="float-right">残り<%= 255-@user.content.length%>文字</span>

      <p class="mt-3">パスワードを再設定する場合は<%= link_to "こちらから", new_password_reset_path%></p>

      <%= f.submit "更新する", class: "btn btn-primary mx-auto d-block", id:"btn-custom"  %>
    <% end %>
  </div>
</div>