<% provide(:title, "アカウント設定") %>

<div class="row justify-content-center" id="form-font-size">
  <div class="col-md-5 mx-5 pt-5 pb-4" id="form-border">
    <p align="center"id="password_reset_text">アカウントの設定</p>
    <%= form_for(@user, builder: CustomFormHelper::FormErrorMessageBuilder) do |f| %>
      <% render 'shared/error_messages'%>

      <%= f.label :name, "ユーザ名" %>
      <%= f.text_field :name, class: 'form-controll1' %>

      <%= f.label :email,"メールアドレス" %>
      <%= f.email_field :email, class: 'form-controll1' %>

      <p>パスワードを再設定する場合は<%= link_to "こちらから", password_reset_path%></p>

      <%= f.submit "更新する", class: "btn btn-primary mx-auto d-block", id:"btn-custom"  %>
    <% end %>
  </div>
</div>