<% provide(:title, '新規登録') %>

<div class="row justify-content-center">
  <div class="col-md-5">
    <%= form_for(@user,url:signup_path,builder:CustomFormHelper) do |f| %>
      <%= f.label :name ,"ユーザID"%>
      <%= f.text_field :name , class:'form-control', id:'form-controll1'%>
      

      <%= f.label :email ,"メールアドレス"%> 
      <%= f.email_field :email , class:'form-control', id:'form-controll1'%>

      <%= f.label :password ,"パスワード"%>
      <%= f.password_field :password , class:'form-control', id:'form-controll1'%>

      <%= f.label :password_confirmation, "パスワード(確認)" %>
      <%= f.password_field :password_confirmation , class:'form-control', id:'form-controll1'%>

      <%= f.submit "アカウントを作成する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>