<%= form_for @item do |f| %>
    <div class="form-group">
        <%= f.label :title, '投稿タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
        <small id="title-tip" class="form-text text-muted">
            タイトルを入力してください。
        </small>
    </div>
    <div class="form-group">
        <%= f.label :content, '投稿内容' %>
        <%= f.text_area :content, class: 'form-control', rows:10 %>
        <small id=content-tip class="form-text text-muted">
            投稿内容を入力してください。 
        </small>
    </div>
    <%= render 'shared/tag_form'%>
    <%= f.submit '送信', class: 'btn btn-info btn-block' %>
    <small id="submit-tip" class="form-text text-muted">
        投稿する前に投稿内容を見直してください!
    </small>
<% end %>