<div class="midashi is-show p-3">
  <span class="fas fa-star"></span>
  <span>新着記事</span>
</div>
<div class="midashi p-3">
  <span class="fas fa-crown"></span>
  <span>人気記事</span>
</div>

<div class="home-tab">
  <ul class="tab-group">
    <li class="tab is-active">新着</li>
    <li class="tab">人気</li>
  </ul>
</div>

<div class="ranking-group is-show">
  <% @recent_item.each do |item|%>
    <section class="item-line">
      <div class="item-box-link p-3">
        <%= link_to '', item_path(id:item.id), class:'item-path'%>
        <div>
          <h5 class="item-title"><%= item.title%></h5>
          <p class="mb-3 text-samll"><%= item.content[0,60]%><%= "..." if item.content.length >= 60%></p>
        </div>
        <div class="item-footer">
          <span class="mr-1">by </span><%= link_to item.user.name, item.user, class:'item-user pr-2'%>
          <span><%= time_ago_in_words(item.created_at)%>前</span>
        </div>
      </div>
    </section>
  <% end%>
</div>

<div class="ranking-group">
  <% @most_viewed.each do |item|%>
    <section class="item-line">
      <div class="item-box-link p-3">
        <%= link_to '', item_path(id:item.id), class:'item-path' %>
        <div>
          <h5 class="item-title"><%= item.title%></h5>
          <p class="mb-3 text-samll"><%= item.content[0,60]%><%= puts "..." if item.content.length >= 60%></p>
        </div>
        <div class="item-footer">
          <span class="mr-1">by </span><%= link_to item.user.name, item.user, class:'item-user pr-2'%>
          <span><%= time_ago_in_words(item.created_at)%>前</span>
        </div>
      </div>
    </section>
  <% end%>
</div>