<p class="midashi is-show p-3">新着記事</p>
<p class="midashi p-3">人気記事</p>
<div class="home-tab">
  <ul class="tab-group">
    <li class="tab is-active">新着</li>
    <li class="tab">人気</li>
  </ul>
</div>

<div class="ranking-group is-show">
  <% @recent_item.each do |item|%>
    <section class="item-line">
      <div class="item-box-link p-3">
        <%= link_to '', item_path(id:item.id) %>
        <div>
          <h4 class="item-title"><%= item.title%></h4>
          <p class="mb-4"><%= item.content[0,60]%><%= "..." if item.content.length >= 60%></p>
        </div>
        <div class="item-footer">
          <span class="mr-1">by <%= item.user.name%></span>
          <span><%= time_ago_in_words(item.created_at)%>前</span>
        </div>
      </div>
    </section>
  <% end%>
</div>

<div class="ranking-group">
  <% @most_viewed.each do |item|%>
    <section class="item-line">
      <div class="item-box-link p-3">
        <%= link_to '', item_path(id:item.id) %>
        <div>
          <h4 class="item-title"><%= item.title%></h4>
          <p class="mb-4"><%= item.content[0,60]%><%= puts "..." if item.content.length >= 60%></p>
        </div>
        <div class="item-footer">
          <span class="mr-1">by <%= item.user.name%></span>
          <span><%= time_ago_in_words(item.created_at)%>前</span>
        </div>
      </div>
    </section>
  <% end%>
</div>