<div class="row">
  <div class="col-8 offset-2">
    <div class="d-flex align-items-center">
        <h1>投稿一覧</h1>
    </div>

    <%= render 'shared/error_messages' %>
      <div class="rank-border">
        <% @items.each do |item|%>
          <section class="item-line">
            <div class="item-box-link p-3">
              <%= link_to '', item_path(id:item.id) %>
              <div>
                <h4 class="item-title"><%= item.title%></h4>
                <p class="mb-4"><%= item.content[0,60]%><%= "..." if item.content.length >= 60%></p>
              </div>
              <div class="item-footer">
                <span class="mr-1">by <%= item.user.name%></span>
                <span class="mr-2">作成日:<%= item.created_at.to_s(:datetime_base)%></span>
                <span class="mr-2">更新日:<%= item.updated_at.to_s(:datetime_base)%></span> 
                <span >item.id:<%= item.id %></span>
              </div>
            </div>
          </section>
        <% end%>
      </div>

    <%= paginate @items %>
  </div>
</div>