<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto posts_button">
    <%= link_to "投稿一覧", items_path, class:"btn btn-outline-info"%>
    <%= link_to "編集", edit_item_path(id: @item.id), class:"btn btn-outline-info"%>
  </div>
</div>

<%= render 'shared/error_messages' %>

<div class="card">
  <div class="card-header bg-info text-white">
    <h4><%= @item.title %></h4>
    <% @item.tags.each do |tag| %>
      <span class="badge badge-light"><%= tag.name %></span>
    <% end %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= simple_format(@item.content) %></p>
  </div>
  <div class="card-footer">
  <p class="text-right font-weight-bold mr-10"><%= @item.name%></p>
  </div>
</div>

<div class="p-comment_list">
  <div class="p-comment_listTitle">コメント</div>
  <% if @item.comments.any?%>
    <%= render @comments%>
  <% else%>
    <p>コメントはありません</p>
  <% end%>
</div>

<%= render 'shared/comments_form'%>